<div class="container-fluid mt-3">
    <div class="row justify-content-center mt-5">
        <h1 class="title text-white">Hi, I'm Charlie</h1>
    </div>
    <div class="row justify-content-center mb-sm-5">
        <h5 class="subtitle text-white">Software Engineer - Creator and Learner</h5>
    </div>
    <div class="row justify-content-center py-4">
        <div class="col-9 col-md-4 d-flex justify-content-center">
            <div class="image-wrapper">
                <img class="w-100" src="https://i.postimg.cc/y8B5KK65/headshot.png" alt="Charlie Wisoff headshot">
            </div>
        </div>
        <div class="col-11 col-md-6 my-5 my-md-0 pl-5 justify-content-center d-flex flex-column">
            <p class="text-white my-4 my-md-3" style="font-size: 1.1em;">I love to continually learn new things.</p>
            <p class="text-white my-4 my-md-3" style="font-size: 1.1em;">I'm passionate about building things that add value to others' lives.</p>
            <p class="text-white my-4 my-md-3" style="font-size: 1.1em;">Once upon a time, I founded and ran my own startup.</p>
            <p class="text-white my-4 my-md-3" style="font-size: 1.1em;">Alum of Brown University living in Albuquerque, NM.</p>
        </div>
    </div>
</div>
