@font-face {
    font-family: 'moskmedium_500';
    src: url('mosk_medium_500-webfont.woff2') format('woff2'),
         url('mosk_medium_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
	font-family: 'moskmedium_500'!important;
}

.bg-ice {
    background-color: #99D3DF!important;
}

.bg-linen {
    background-color: #E9E9E9!important;
}

.bg-none {
	background-color: none!important;
}

.bg-plaster {
    background-color: #CDCDCD!important;
}

.bg-water {
    background-color: #88BBD6!important;
}

.image-wrapper {
	width: 65%;
}

.text-linen {
    color: #E9E9E9!important;
}

.text-ice {
	color: #99D3DF!important;
}

.title {
	
}

@media (min-width: 576px) {
  .subtitle {
  	font-size: 2em;
  }

  .image-wrapper {
    width: 75%;
  }

}

